{%extends 'base.html'%}
{% block title %}tela de cadastro{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <form id="cadastroForm">
        <label for="nome" class="form-label" style="font-size: 25px;">Nome:</label>
        <br>
        <input type="text" class="form-control, font-size= 200px;" id="nome" name="nome" required>
        <br>
        <label for="email" class="form-label" style="font-size: 25px;">Email:</label>
        <br>
        <input type="email" class="form-control, font-size= 200px;" id="email" name="email" required>
        <div id="mensagememail"></div>
        <br>
        <label for="cpf" class="form-label" style="font-size: 25px;">CPF:</label>
        <br>
        <input type="text" class="form-control, font-size= 200px;" id="cpf" name="cpf" maxlength="15" required>
        <div id="mensagemcpf"></div>
        <br>
        <label for="cep" class="form-label" style="font-size: 25px;">CEP:</label>
        <br>
        <input type="text" class="form-control, font-size= 200px;" id="cep" name="cep" maxlength="10" required>
        <div id="mensagemcep"></div>
        <br>
        <label for="Telefone" class="form-label" style="font-size: 25px;">Telefone:</label>
        <br>
        <input type="text" class="form-control, font-size= 200px;" id="Telefone" name="Telefone" required>
        <br>
        <button type="submit" class="btn btn-primary btn-cadastro">Enviar</button>
        

    </form>
    <div id="mensagemcadastro"></div>
</div>
<script>
    $(document).ready(function() {
    $('#cadastroForm').submit(function(event) {
        event.preventDefault();
        var nome = $('#nome').val();
        var email = $('#email').val();
        var cpf = $('#cpf').val();
        var cep = $('#cep').val();
        $.ajax({
            url: '/cadastrar/',
            type: 'POST',
            data: {
                nome: nome,
                email: email,
                cpf: cpf,
                cep: cep,
                Telefone: Telefone
            },
            success: function(response) {
                const messagecadastro = $('#mensagemcadastro');
                if(response.status === 'ok'){
                    messagecadastro.css('color', 'green').text('Cadastro realizado com sucesso!').show();
                } else {
                    messagecadastro.css('color', 'red').text('Erro ao cadastrar!').show();
                }
                setTimeout(function() {
                    messagecadastro.hide();
                }, 1500);
            },
            error: function() {
                const messagecadastro = $('#mensagemcadastro');
                messagecadastro.css('color', 'red').text('Erro ao cadastrar. Tente novamente.');
            }
        });
    });
});
      
</script>
{% endblock %}